.ipynb_checkpoints/
out/
cache/

circuits/exponential_elgamal/babygiant/target/
circuits/exponential_elgamal/babygiant/Cargo.lock
circuits/exponential_elgamal/babygiant_native/target/
circuits/exponential_elgamal/babygiant_native/Cargo.lock

hardhat/crs/
utils/crs/

.env

frontend/lib/wagmiGenerated.ts